In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import spotipy
import spotipy.util as util

In [53]:
scope = 'user-library-read'
username = 'ethantanen'
SPOTIPY_CLIENT_ID='5433d3c112cb41cb99f0f6aeb350cf80'
SPOTIPY_CLIENT_SECRET='158ff273815044f9a3500df7f1c2358c'
SPOTIPY_REDIRECT_URI='https://localhost:8080'
token = util.prompt_for_user_token(username,scope,client_id=SPOTIPY_CLIENT_ID,client_secret=SPOTIPY_CLIENT_SECRET,redirect_uri=SPOTIPY_REDIRECT_URI)
spotify = spotipy.Spotify(auth=token)

In [33]:
top_100 = pd.read_csv("top_100_by_years.csv",index_col=0)

In [34]:
#make everything lowercase 
for col in top_100:
    top_100[col] = top_100[col].apply(lambda x: str(x).split(",")[0].lower().strip())

#Get rid of first 40 entries, for they are repeated entries
count = 0
for col in top_100:
    
    del top_100[col]
    
    if count > 40:
        break
        
    count += 1

In [35]:
#90
'''
l=[]
count = 0
for i in top_100:
    l.append(i)
    if count > 100:
        break
    count += 1
    
for i in l:
    del top_100[i]
    
    
    


l=[]
for i in top_100:
    l.append(i)

print("CHOo CHOo ChOo")
    
for i in range(len(l)):
    if not (i%10 == 0):
        del top_100[l[i]]
'''
top_100.head()

,1958-07-30,1958-08-04,1958-08-09,1958-08-14,1958-08-19,1958-08-24,1958-08-29,1958-09-03,1958-09-08,1958-09-13,...,2017-11-12,2017-11-17,2017-11-22,2017-11-27,2017-12-02,2017-12-07,2017-12-12,2017-12-17,2017-12-22,2017-12-27
1,splish splash,splish splash,patricia,my true love,bird dog,bird dog,bird dog,bird dog,bird dog,little star,...,bodak yellow (money moves),bodak yellow (money moves),bodak yellow (money moves),gucci gang,gucci gang,gucci gang,perfect,havana,havana,havana
2,hard headed woman,hard headed woman,splish splash,poor little fool,just a dream,just a dream,just a dream,just a dream,just a dream,it's all in the game,...,1-800-273-8255,1-800-273-8255,too good at goodbyes,thunder,thunder,thunder,gucci gang,gucci gang,gucci gang,gucci gang
3,when,when,when,patricia,my true love,my true love,poor little fool,patricia,patricia,just a dream,...,thunder,thunder,thunder,bodak yellow (money moves),bodak yellow (money moves),perfect,thunder,thunder,thunder,thunder
4,rebel-'rouser,rebel-'rouser,my true love,just a dream,poor little fool,poor little fool,patricia,poor little fool,poor little fool,rock-in robin,...,feel it still,feel it still,1-800-273-8255,too good at goodbyes,too good at goodbyes,bodak yellow (money moves),too good at goodbyes,too good at goodbyes,too good at goodbyes,motorsport
5,yakety yak,yakety yak,hard headed woman,when,patricia,patricia,my true love,my true love,my true love,born too late,...,gucci gang,gucci gang,feel it still,perfect,perfect,too good at goodbyes,bodak yellow (money moves),no limit,no limit,too good at goodbyes

In [36]:
dates = []
count = 0

for i in top_100.columns:
    count += 1
    if count%15 == 0:
        dates.append(i)

In [42]:
for i in range(len(dates)):
    print(i,dates[i])

0 1958-10-08
1 1958-12-22
2 1959-03-07
3 1959-05-21
4 1959-08-04
5 1959-10-18
6 1960-01-01
7 1960-03-16
8 1960-05-30
9 1960-08-13
10 1960-10-27
11 1961-01-11
12 1961-03-27
13 1961-06-10
14 1961-08-24
15 1961-11-07
16 1962-01-21
17 1962-04-06
18 1962-06-20
19 1962-09-03
20 1962-11-17
21 1963-01-31
22 1963-04-16
23 1963-06-30
24 1963-09-13
25 1963-11-27
26 1964-02-10
27 1964-04-25
28 1964-07-09
29 1964-09-22
30 1964-12-06
31 1965-02-20
32 1965-05-06
33 1965-07-20
34 1965-10-03
35 1965-12-17
36 1966-03-02
37 1966-05-16
38 1966-07-30
39 1966-10-13
40 1966-12-27
41 1967-03-12
42 1967-05-26
43 1967-08-09
44 1967-10-23
45 1968-01-06
46 1968-03-21
47 1968-06-04
48 1968-08-18
49 1968-11-01
50 1969-01-16
51 1969-04-01
52 1969-06-15
53 1969-08-29
54 1969-11-12
55 1970-01-26
56 1970-04-11
57 1970-06-25
58 1970-09-08
59 1970-11-22
60 1971-02-05
61 1971-04-21
62 1971-07-05
63 1971-09-18
64 1971-12-02
65 1972-02-15
66 1972-04-30
67 1972-07-14
68 1972-09-27
69 1972-12-11
70 1973-02-25
71 1973-05-11
72 1973-07-25
73 1973-10-08
74 1973-12-22
75 1974-03-07
76 1974-05-21
77 1974-08-04
78 1974-10-18
79 1975-01-01
80 1975-03-17
81 1975-05-31
82 1975-08-14
83 1975-10-28
84 1976-01-11
85 1976-03-26
86 1976-06-09
87 1976-08-23
88 1976-11-06
89 1977-01-21
90 1977-04-06
91 1977-06-20
92 1977-09-03
93 1977-11-17
94 1978-01-31
95 1978-04-16
96 1978-06-30
97 1978-09-13
98 1978-11-27
99 1979-02-10
100 1979-04-26
101 1979-07-10
102 1979-09-23
103 1979-12-07
104 1980-02-20
105 1980-05-05
106 1980-07-19
107 1980-10-02
108 1980-12-16
109 1981-03-02
110 1981-05-16
111 1981-07-30
112 1981-10-13
113 1981-12-27
114 1982-03-12
115 1982-05-26
116 1982-08-09
117 1982-10-23
118 1983-01-06
119 1983-03-22
120 1983-06-05
121 1983-08-19
122 1983-11-02
123 1984-01-16
124 1984-03-31
125 1984-06-14
126 1984-08-28
127 1984-11-11
128 1985-01-26
129 1985-04-11
130 1985-06-25
131 1985-09-08
132 1985-11-22
133 1986-02-05
134 1986-04-21
135 1986-07-05
136 1986-09-18
137 1986-12-02
138 1987-02-15
139 1987-05-01
140 1987-07-15
141 1987-09-28
142 1987-12-12
143 1988-02-25
144 1988-05-10
145 1988-07-24
146 1988-10-07
147 1988-12-21
148 1989-03-07
149 1989-05-21
150 1989-08-04
151 1989-10-18
152 1990-01-01
153 1990-03-17
154 1990-05-31
155 1990-08-14
156 1990-10-28
157 1991-01-11
158 1991-03-27
159 1991-06-10
160 1991-08-24
161 1991-11-07
162 1992-01-21
163 1992-04-05
164 1992-06-19
165 1992-09-02
166 1992-11-16
167 1993-01-31
168 1993-04-16
169 1993-06-30
170 1993-09-13
171 1993-11-27
172 1994-02-10
173 1994-04-26
174 1994-07-10
175 1994-09-23
176 1994-12-07
177 1995-02-20
178 1995-05-06
179 1995-07-20
180 1995-10-03
181 1995-12-17
182 1996-03-01
183 1996-05-15
184 1996-07-29
185 1996-10-12
186 1996-12-26
187 1997-03-12
188 1997-05-26
189 1997-08-09
190 1997-10-23
191 1998-01-06
192 1998-03-22
193 1998-06-05
194 1998-08-19
195 1998-11-02
196 1999-01-16
197 1999-04-01
198 1999-06-15
199 1999-08-29
200 1999-11-12
201 2000-01-26
202 2000-04-10
203 2000-06-24
204 2000-09-07
205 2000-11-21
206 2001-02-05
207 2001-04-21
208 2001-07-05
209 2001-09-18
210 2001-12-02
211 2002-02-15
212 2002-05-01
213 2002-07-15
214 2002-09-28
215 2002-12-12
216 2003-02-25
217 2003-05-11
218 2003-07-25
219 2003-10-08
220 2003-12-22
221 2004-03-06
222 2004-05-20
223 2004-08-03
224 2004-10-17
225 2005-01-01
226 2005-03-17
227 2005-05-31
228 2005-08-14
229 2005-10-28
230 2006-01-11
231 2006-03-27
232 2006-06-10
233 2006-08-24
234 2006-11-07
235 2007-01-21
236 2007-04-06
237 2007-06-20
238 2007-09-03
239 2007-11-17
240 2008-01-31
241 2008-04-15
242 2008-06-29
243 2008-09-12
244 2008-11-26
245 2009-02-10
246 2009-04-26
247 2009-07-10
248 2009-09-23
249 2009-12-07
250 2010-02-20
251 2010-05-06
252 2010-07-20
253 2010-10-03
254 2010-12-17
255 2011-03-02
256 2011-05-16
257 2011-07-30
258 2011-10-13
259 2011-12-27
260 2012-03-11
261 2012-05-25
262 2012-08-08
263 2012-10-22
264 2013-01-06
265 2013-03-22
266 2013-06-05
267 2013-08-19
268 2013-11-02
269 2014-01-16
270 2014-04-01
271 2014-06-15
272 2014-08-29
273 2014-11-12
274 2015-01-26
275 2015-04-11
276 2015-06-25
277 2015-09-08
278 2015-11-22
279 2016-02-05
280 2016-04-20
281 2016-07-04
282 2016-09-17
283 2016-12-01
284 2017-02-15
285 2017-05-01
286 2017-07-15
287 2017-09-28
288 2017-12-12

In [54]:
data = pd.DataFrame(index = ['danceability','energy','loudness','tempo','valence'])

for col in dates[249:]:
    
    print(col)
    
    #Data structures to store lists of audio faetures and ids
    audio_features = {'danceability':[],'energy':[],'loudness':[],'tempo':[],'valence':[]}
    ids = {}
    
    #Cycle through year i's tracks and find spotify data on them 
    for track in top_100[col]:
        
        search = spotify.search(track,type="track",limit=1)['tracks']['items']
                
        if(len(search) == 0):
            continue
            
        ids[track] = search[0]['id']
      
    #Get track features using spotipy
    features = spotify.audio_features(ids.values())
    
    #Check if anything was returned 
    if features:
    
        #Update audio features dict w/ respective values 
        for f in features:

            audio_features['danceability'].append(f['danceability'])
            audio_features['energy'].append(f['energy'])
            audio_features['loudness'].append(f['loudness']*-1)
            audio_features['tempo'].append(f['tempo'])
            audio_features['valence'].append(f['valence'])

        #Convert to dataframe 
        df = pd.DataFrame(audio_features)

        #Normalize data
        #df = (df - df.mean()) / (df.max() - df.min())

        #Calculate mean for values for this year
        df = df.mean()
        
        #Add series to chart
        data[col] = df

2009-12-07
2010-02-20
2010-05-06
2010-07-20
retrying ...1secs
2010-10-03
2010-12-17
2011-03-02
2011-05-16
2011-07-30
2011-10-13
2011-12-27
2012-03-11
retrying ...1secs
2012-05-25
2012-08-08
2012-10-22
2013-01-06
2013-03-22
2013-06-05
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
2013-08-19
2013-11-02
2014-01-16
2014-04-01
2014-06-15
2014-08-29
2014-11-12
2015-01-26
2015-04-11
retrying ...1secs
2015-06-25
2015-09-08
2015-11-22
2016-02-05
2016-04-20
2016-07-04
2016-09-17
2016-12-01
2017-02-15
2017-05-01
2017-07-15
2017-09-28
2017-12-12

TypeError: 'NoneType' object is not subscriptable

In [55]:
data.to_csv('partial_6.csv')

In [41]:
data.head()

,1958-10-08,1958-12-22,1959-03-07,1959-05-21,1959-08-04,1959-10-18,1960-01-01,1960-03-16,1960-05-30,1960-08-13,...,1969-06-15,1969-08-29,1969-11-12,1970-01-26,1970-04-11,1970-06-25,1970-09-08,1970-11-22,1971-02-05,1971-04-21
danceability,0.558851,0.590763,0.545435,0.569124,0.594835,0.563749,0.563828,0.563184,0.556948,0.534828,...,0.565319,0.558250,0.589093,0.538047,0.553761,0.539939,0.576290,0.586968,0.566370,0.569596
energy,0.494880,0.559644,0.521808,0.571671,0.577169,0.550602,0.494448,0.531572,0.557571,0.527187,...,0.556149,0.528592,0.545344,0.516746,0.595755,0.567393,0.541552,0.565670,0.576664,0.590199
loudness,10.423915,9.216796,9.948478,9.401278,9.370485,9.784253,9.783280,9.247582,9.313427,9.693056,...,9.950085,10.462812,9.751567,11.052865,9.628630,9.711022,10.131957,9.146280,9.202174,9.313734
tempo,123.595383,120.920559,113.623391,122.459402,119.822825,119.827032,121.883065,122.005898,116.260406,121.557292,...,121.032543,117.692958,128.760474,117.624787,120.024620,117.176236,117.397817,114.478968,116.486728,118.708489
valence,0.534704,0.573598,0.531429,0.564998,0.627145,0.532655,0.537641,0.569685,0.548984,0.566417,...,0.600536,0.575733,0.603424,0.564097,0.578067,0.574526,0.616467,0.581565,0.603936,0.631548